.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  .card-img-top{
    width: 250px;
    height: 250px;
    object-fit: contain;
  }